html {background-color: #FDF5E6}
header {border-radius: 500px;
 	 background: #87cefa;
 	 padding: 20px;
 	 width: 1100px;
 	 height: 150px;
	 margin-top: 50px;text-align: center;
       position: relative; left: -20ex;}

header h1{color:white; position: relative; left: -13ex; font-size:28pt}
header h3{color:white; position: relative; left: -21ex; font-size:18pt}
header img{position: relative; top:-180; left:70}
header p{color:white; position: relative; left: 36ex; top:-400; font-size:16pt; font-weight: bold;}

.image {
	 position: relative; left: 25ex; top:-240; 
       }

.text {
        font-size: 18px; text-align:left; 
        float:right; margin-top:-540px; margin-right:50px; color:white; 
      }
header a {text-decoration: none; color:white;}

header a:hover{text-decoration: underline; color:blue;}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #004282;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

#leftcolumn{border-radius: 100px;
 	 background:  #cceeff;
 	 padding: 20px;
 	 width: 500px;
 	 height: 600px;
	 margin-top: 50px;text-align: center;
       position: relative; left: -20ex;
}
.objectives{position: relative; right:-17ex; text-align:left; color:#004d99; font-size:14pt}

#leftcolumn ul{position: relative; right:-15ex; text-align:left;color:#004d99; font-size:14pt}
#leftcolumn label{position: relative; text-align:left;color:#004d99; font-size:14pt}
#leftcolumn h3{position: relative; left:-7ex;color:#004d99; text-decoration: underline;
		text-shadow: 1px 2px 2px #005266;}


#rightcolumn{
       position: relative; right:-65ex; top:-620;
}
mark{background-color: #66e0ff; font-size:30px}

#rightcolumn img{width:20%; position:relative; right:-60ex; top:-350;
 z-index:-3;}

@media screen and (max-width: 576px) {
  #rightcolumn img {
    width: 80%; position:relative; right:-90ex;  }
  #leftcolumn{font-size:14px}
    body{font-size:14px} 
}
@media screen and (max-width: 768px)and (min-width: 576px) {
  #rightcolumn img {
    width: 60%; position:relative; right:-80ex; top:-350
  }
  #leftcolumn{font-size:16px}
    body{font-size:16px}  
}
@media screen and (max-width: 992px)and (min-width: 768px) {
  #rightcolumn img {
    width: 30%; position:relative; right:-60ex; top:-350
  }
    #leftcolumn{font-size:16px}
    body{font-size:16px}

}


